.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con{
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('assets/images/WhiteLogo2.gif') center no-repeat black;
 }
a{
	color: #ba0029;
}

body{
	margin: 0;
	padding: 0;
}

hr{
	border-width: 1px;
	border-color: rgb(80,80,80);
	width: 50%;
}

.toc-link{
	font-weight: bold; 
 	opacity: .5;
 	color: #ba0029;
 	text-decoration: none;
 	cursor: pointer;
 	line-height: 1.5;
 	font-family: "futura-pt", sans-serif;
 	 /* -webkit-backface-visibility: hidden; antialiasing and transition issues
 	 transition: .2s; */

}
.toc-link:hover{
	opacity: 1;
 	color: #ba0029;
}
.toc-link:visited{
	color: #ba0029;
}
.toc-link:active{
	color: #ba0029;
}

#home{
	background-color: #deded6;
	/* background: url('assets/images/Estlund - Becoming Woman/EDITCloth.png') center no-repeat; */
	width: 100vw;
	margin-right:0vw;
 }

#table-of-contents{
	padding: 40px;
	margin-right: 0px;
	font-size: 20px;
	background-color: #e8e8e0;
	background: url('assets/images/Estlund - Becoming Woman/EDITCloth.png') center no-repeat;
	background-size: auto 100%;
}
#back-cover{
	margin-right: 0px;
	padding-top: 0px;
}
#sponsors{
	/* width: 50vw; */
	background: url('assets/images/sponsors-katie.png') center no-repeat;
	background-size: auto 100%;
	margin-right: 0px;
}
#masthead{
	margin-right: 10vw;
	overflow: hidden;

}
#exit-poem{
	width: 50vw;
	text-align: center;
	margin-right: 20vh;
}
#goldfish{
	background-color: black; 
	width: 60vw;
	margin-right: 10vw;
}
#ismee{
	background-color: #e31b28;
	width: 1000px;
	margin-right: 20vw;
}
#mirrors{
	margin-right: 10vw;
}
#duckduckgo{
	width: 50vw;
	margin-right: 30vw;
	padding: 50px;
}
#prospect{

}
#father-mother{
	margin-right: 10vw;
	z-index: 10;
}
#foundations{
	margin-right: 0vw;
	text-align: center;
}
#jt{
	padding-left: 15vw;
	background-color: #f9a826;
	width: 2000px;
}
#geese{
	margin-right: 15vw;
}
#marching{
	width: 1500px;
}
.outer-wrapper{
	width: 100vh;
	height: 100vw;
	transform:  rotate(-90deg) translateX(-100vh);
	transform-origin: top left;
	position: absolute;
	overflow-x: hidden;
	overflow-y: scroll;
	scrollbar-width:  none;
	-ms-overflow-style:  none;
	scroll-behavior: smooth;
}
::-webkit-scrollbar {
	display: none;
}
.wrapper{
	display: flex;
	width: 100vw;
	transform:  rotate(90deg) translateY(-100vh);
	transform-origin: top left;
 }
 .slide{
	height: 100vh;
	flex-shrink: 0;
	display: inline-flex;

	margin-right: 30vw;
	position: relative;
 }

.nav-button{
	position: fixed;
	top: 10px;
	left: 10px;
 	cursor: pointer;
	width: 100px;
	z-index: 100; 
	/* height: 100px; */
	width: 100px;
	opacity: .5;
}
.nav-button-text{
	font-weight: bold; 
 	opacity: .5;
 	color: #ba0029;
 	text-decoration: none;
 	line-height: 1.5;
 	font-family: "futura-pt", sans-serif;
 }
.nav-button:visited{
	color: #ba0029;
}
.nav-button:hover{
	opacity: 1;

}

.title{
	position: absolute;
	font-family: "futura-pt", sans-serif;
	font-size: 8em;
	font-weight: bolder;
	color: #ba0029;
	padding: 50px;
 }

.enter-button{
	position: absolute;
	bottom: 100px;
	left: 80vw;
	font-family: "futura-pt", sans-serif;
	color: #ba0029;
}

.full-image{
	height: 100vh;
}

.small-image{
	height: 20vh;
}
.ismee-image{
	position: absolute;
	bottom: 0px;
	 height: 60vh; 
	 transform: scaleX(-1);
	/* height: 50vh; */
}

.text-wrapper{
	/* this does nothing but clear flex child properties. used to let columns expand */
}
.fm-container{
	/* height:90vh; */
	width: 300px;
	margin:50vh 50px;
}
.text-container{
	height:90vh;
	width: 1000px;
	padding-top: 50px;
	min-width: 300px;
	overflow: auto;
}
.column-three{
	min-width: 300px;       /*  Change this value for reflow */
	/* max-width: 2000px; */
	column-count: 5;
	column-fill: auto;
	columnn-width:;
	column-gap: 30px;
}
.column-one{
	width: 350px;
}

.artist-caption{
	width: 500px;
}

/* global */
.italic{
	font-style: italic;
}


.lgs-body{
font-family: "futura-pt", sans-serif; font-size: 16px; font-weight: 300; white-space: pre-wrap; line-height:1.5;margin-top:0pt;margin-bottom:0pt; text-align: justify;
}
.tolentino-text{
line-height:1.2;margin-top:0pt;margin-bottom:0pt;text-align: justify;font-family:"futura-pt";
}
.tolentino-body{
font-size: 12pt; font-family:"futura-pt", sans-serif;  font-weight: 400; vertical-align: baseline ;white-space: pre; white-space: pre-wrap;text-align: justify;
}
.exit-body{
font-size: 12pt; font-family: monospace;  font-weight: 400; white-space: pre-line; line-height: 1.5;
}
.ismee-body{
font-size: 12pt; font-weight: 400;  white-space: pre-line;  line-height: 1.5;text-align: justify;
} 
.prospect-body{
font-size: 12pt; font-family: monospace;  font-weight: 400; white-space: pre-line; line-height: 1.5;
 } 
.tokarski-body{
font-family:"futura-pt", sans-serif; font-size: 16px; white-space: pre-wrap;text-align: justify;
}
.ddg-body{
font-size: 12pt; font-family: monospace;  font-weight: 400; white-space: pre-wrap;line-height: 1.5;
}
.foundations-body{
font-size: 12pt; font-family: 'Times New Roman';  font-weight: 400; white-space: pre; white-space: pre-wrap;text-align: justify;
}
.hurting-body{
font-family: "futura-pt", sans-serif; font-size: 16px;text-align: justify;
}
.fm-body{
font-size: 16px; font-family: monospace;  font-weight: 400; white-space: nowrap; line-height: 1.5;
}
.missed-bold{
font-size:16px;font-family:'futura-pt',sans-serif; font-weight: 700; white-space: pre; white-space: pre-wrap;text-align: justify;
}
.missed-body{
font-size:16px;font-family:'futura-pt',sans-serif ; font-weight: 400; white-space: pre; white-space: pre-wrap;text-align: justify;
}
.basb-body{
font-size:16px; font-family: "Times New Roman",  serif;  font-weight: 400; white-space: pre-wrap;line-height:1.5;text-align: justify;
}
.tavola-body{
font-size: 16px; font-family: "futura-pt", sans-serif; font-weight: 400 white-space: pre; white-space: pre; white-space: pre-wrap;text-align: justify;
}
.cloudberry-text{
line-height: 1.2; font-size: 16px; font-family:sans-serif;  font-weight: 400; white-space: pre; white-space: pre-wrap; z-index: 50;
}
.goldfish-body{
font-size: 12pt; font-family:monospace;  font-weight: 400; white-space: pre-wrap;line-height: 1.5;
}
.woman-body{
font-size: 12pt; font-family:"futura-pt", sans-serif;  background-color: #ffffff; font-weight: 400; white-space: pre; white-space: pre-wrap;text-align: justify;
}
.continent-body{
font-size: 12pt; font-family:"futura-pt", sans-serif;  font-weight: 400; white-space: normal;text-align: justify;
}
.ground-body{
font-size:16px;font-family:"futura-pt", sans-serif;  font-weight: 400; white-space: normal;text-align: justify;
}
.marching-body{
font-size: 12pt; font-family:"futura-pt", sans-serif;  font-weight: 400; white-space: pre; white-space: pre-wrap;text-align: justify;/*  text-align: left;line-height:1.2;  */ 
}
.geese-body{
font-size: 12pt; font-family:"futura-pt", sans-serif;  font-weight: 400; white-space: pre; white-space: pre-wrap;text-align: justify;
}
.le-body{
font-family:"futura-pt", sans-serif; font-size: 11pt; font-weight: 300; font-style: normal; vertical-align: baseline; white-space: pre-wrap; text-align: justify;
}


@media (min-width: 576px){
.modal-dialog {
    max-width: 1000px;
    margin: 1.75rem auto;
}
}
.modal-dialog{
	width: 700px;
	margin: 0px auto 0px auto;	
}

.modal-body{
	height:90%;
 }
.scroll{
	overflow:scroll;
	height:100%;
	scrollbar-width:  5px;
 }
 .modal-title{
 	/* font-size: 25px; */
 	 /* margin-top: -80px;  */
 	display: block;
 }
 .close{
 	display: block;
 	float: none;

 }
.modal-content{
    -webkit-box-shadow: 0 5px 15px rgba(0,0,0,0);
    -moz-box-shadow: 0 5px 15px rgba(0,0,0,0);
    -o-box-shadow: 0 5px 15px rgba(0,0,0,0);
    box-shadow: 0 5px 15px rgba(0,0,0,0);
    padding: 0px 40px 40px 40px;	
    border-width: 0px;
    height: 100vh; 
} 
.modal-header{
	position: relative; 
	top: 0px; 
	height: 10%;
	/* margin-top: -80px; */
	/* margin-left: -40px; */
	/* margin-bottom: -60px; */
	width: 100%;
	display: block;
}

.btn{
	background:none;
    border:none;
    text-shadow: 0px;
    font-family: "termina", "futura-pt-pt", sans-serif;
    font-size: 80px;
    transition: 0.2s;
    color: #ba0029;
    height: 80px;
    /* display: inline; */
   /*  margin: auto 0px auto 0px; */
    z-index: 10;
    overflow: visible;
}
.btn:hover{
	text-shadow: 6px 6px 15px black;
	transition: 0.2s;
	color: #ba0029;
	overflow: visible;
}

.ismee-title{
	color: #126e95;

	font-family: 'lust display', serif; 
	font-style: italic;
}
.ismee-title:hover{
	color: #126e95;
	text-shadow: 6px 6px 15px #f5dec1;
}

.title-wrapper{
	 margin: auto 0px auto 0px;
	 display: flex;
	 flex-direction: column;
}

.tokarski-image{
	height: 40vh;
	
	position: relative;

}

#le-donne{
	background-color: #2c1219;
	margin-right: 0px;
}
#missed-connections{
	width: 110vw;
	margin-right: 0vw;
}
.woman-image{
	height: 70vh;
	margin:  auto 50px;
	padding: .4%;
	border-width: 1px;
	border-color: gold;
	border-style: solid;

}

.gradient{
	background: rgb(255,255,255);
	background: linear-gradient(90deg, #faeff3 0%, rgba(44,18,25,1) 100%);
	width: 300px

}

.ddg-image{
	position: absolute;
	height: 40vh;
}

.mc-title{
	text-align: left;
	color: white;
}
.mc-title:hover{
	color: white;
}

.prospect-title{
	position: relative;font-family:'lust display',serif;font-style:italic;
	color: black;
	text-shadow: 6px 6px 15px silver;
}
.prospect-title:hover{
	color: white; 
	text-shadow: 4px 4px 18px #black;
}
.foundations-title, .foundations-title:hover{
	color: white;
	display: inline-block;
}
.cont-title, .cont-title:hover{
	color :#f9a826;
	font-family: 'lust', serif;
}

.exit-title, .exit-title:hover{
	font-family:'futura-pt', sans-serif;font-size: 40px;color: black; font-weight: 100;
}
.tolentino-image{
	height: 30vh;
}
.cloudberry-title, .cloudberry-title:hover{
	color: #212529;
	font-family: 'futura', sans-serif; font-weight: bold;font-size: 40px;
}
.gc-image{
	height: 40vh;
}
.hurting-image{
	height: 40vh;
	margin-right: 40px;
}

.march-wrapper{
	width: 200px;
	height: 200px;
	overflow: hidden;
	margin: 20px 40px 20px 40px;

}
.march-image{
	height: 35vh;
}