$base-parallax-perspective: 8px;

@function parallax-scale-factor($z-distance) {
  @return ($base-parallax-perspective - $z-distance) / $base-parallax-perspective;
}


.base-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  // height:100vh;
  width: 100vw;
  background-color: red;
}

body{
	margin: 0;
	padding: 0;
}
.outer-wrapper{
	width: 100vh;
	height: 100vw;
	transform:  rotate(-90deg) translateX(-100vh);
	transform-origin: top left;
	position: absolute;
	overflow-x: hidden;
	overflow-y: scroll;
	scrollbar-width:  none;
	-ms-overflow-style:  none;
	background-color: blue;
}
::-webkit-scrollbar {
	display: none;
}

.slide{
	/* width: 50vw; */
	height: 100vh;
	background-color: orange;
}

.wrapper{
	display: flex;
	flex-direction: row;
	width:  400vw;
	height:100vh;
	transform:  rotate(90deg) translateY(-100vh);
	transform-origin: top left;
	background-color:green;
}

.image {
  position: absolute;
  transform-origin: 0 50%;
  width: 100px;
  height: 100px;
}

.float-top{
	@extend .image;
	top: 700px;
	transform: translateZ(2px) scale(parallax-scale-factor(2));
}
.float-middle{
	@extend .image;
	top: 600px;
	transform: translateZ(5px) scale(parallax-scale-factor(5));
}
.float-bottom{
	@extend .image;
	// height: 840px;
	top: 400px;
	transform: translateZ(0px) scale(1);
}

.parallax-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  perspective: 8px;
  perspective-origin: 0%;
  display: flex;
  background-color:yellow;

}

.parallax-wrapper{
	height: 150vh;
	background-color:orange;

}

// .fade.in {
//   opacity: 1;
// }
// .modal.in .modal-dialog {
//   -webkit-transform: translate(0, 0);
//   -o-transform: translate(0, 0);
//   transform: translate(0, 0);
// }

// .modal-backdrop .fade .in {
//   opacity: 0.5 !important;
// }


// .modal-backdrop.fade {
//     opacity: 0.5 !important;
// }
.modal-dialog{
	// height:100vh;
	margin: 0px auto 0px auto;	
}
.modal-body{
	height:auto;
}
.modal-title{
	height:auto;
}
.scroll{
	overflow:scroll;
	height:100%;
	// width:100px;
	scrollbar-width:  5px;
}